**/.DS_Store
**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/*.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/*.mp4
**/*.mkv
**/*.avi
**/*.jpg
**/artifacts
**/clips
**/data
**/examples
**/output
**/runs
**/vectors
**/videos
LICENSE
README.md
README.Docker.md