# Permitted modes: VIDEO, USB, FOLDER, IMAGE, RTSP
APP_MODE=VIDEO

# Path to video
SOURCE_PATH=videos/video.mp4

# Path to file containing action vectors in cvs format
ACTION_VECTORS_PATH=vectors/vectors.csv

# Path to models used in app
BASE_MODEL_PATH=models/saved-models/yolo26m_all.pt
POSE_MODEL_PATH=models/saved-models/yolo26n-pose.pt
LSTM_MODEL_PATH=models/saved-models/lstm.pth

# Batch size used by YOLO models
BATCH_SIZE=8

# Folder in which clips will be saved
CLIP_FOLDER=clips

# RTSP Camera settings
CAMERA_USER=user
CAMERA_PASSWORD=password
CAMERA_IP=192.168.1.2
CAMERA_PORT=554
RTSP_PATH=profile1

# Train settings
TRAIN_MODEL_DIR=saved-models
TRAIN_PROJECT_DIR=runs

# Roboflow settings
ROBOFLOW_API_KEY=XXXXXXXXXXXXXXXXXXXX
ROBOFLOW_WORKSPACE=mciurzynski-workspace
ROBOFLOW_PROJECT=license-plate-recognition-rognt
ROBOFLOW_DATASET_VERSION=2