# Permitted modes: VIDEO, USB, FOLDER, IMAGE, RTSP
APP_MODE=VIDEO

# Path to video (only used when mode VIDEO)
SOURCE_PATH=data/people-walking-1.mp4

# Batch size used by YOLO models
BATCH_SIZE=8

# RTSP Camera settings
CAMERA_USER=user
CAMERA_PASSWORD=password
CAMERA_IP=192.168.1.2
CAMERA_PORT=554
RTSP_PATH=profile1

# Backend api
BACKEND_UPLOAD_URL=http://backend:8080/videos/upload

# DEV options
CLIP_FOLDER=/clips
ACTION_VECTORS_PATH=/app/vectors/vectors.csv
UPLOAD_CLIPS=True
SAVE_CLIPS=True